body{
    background-color: darkgrey;
    font-family: Arial, sans-serif;
}

.button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: cell;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 101;
}